:root {
  --Sgrey: #737373;
  --Sorange: #ffbd59;
}
* {
  background-color: #989393;
  font-family: Gidole, Arial, Permanent Maker;
  font-size: 24px;
  margin: 0;
}

header {
  background-image: linear-gradient(var(--Sgrey) 88%, #989393);
  height: 100px;
  margin: 0px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: var(--Sgrey);
}

a {
  color: var(--Sorange);
  font-family: Gidole, Arial, Permanent Maker;
  text-decoration: none;
  background-color: var(--Sgrey);
  justify-content: space-evenly;
  padding: 0.25rem;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 1.8rem;
  color: var(--Sorange);
  text-align: center;
  padding: 5px;
}