$brandcolor1: #ffbd59;
$brandcolor2:  #737373;
*{
  font-family: Gidole, Arial, Permanet Marker;
}

header{
  background-color: $brandcolor2;
  background-image: linear-gradient($brandcolor2) 88%, #989393;
  height: 100px;
  display: flex;
  padding: 15px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: $brandcolor1;
  font-size: 44px;
  font-weight: bolder;
}




