$brandcolor1: #ffbd59;
$brandcolor2:  #737373;

h1 {
  color: $brandcolor1;
  font-size: 24px;
}
  
.pum {
  color: $brandcolor1;
  font-size: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



